* {
  box-sizing: border-box;  
}

header {
    text-align: center;
    height: 100px;

}

.text-center {
    background-color: grey;
}

.main-weather {
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    height: 270px;
    margin: 25px;
    padding: 25px;
}

#clear-search {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
}

#input-button {
    width: 120px;
}


.main-page {
    background-color: grey;
    padding-top: 25px;
    margin-top: none;
    color: white;
    text-align: center;
    height: 700px;
    align-items: center;
}


.input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.title {
    font-size: 24px;
}

.date-time {
    font-size: 14px;
}






